.shoping__data{
    padding: 10px;
    background-color: white;
    width: 200px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.btn__allwidth{
    margin-top: 20px;
    width: 100%;
}